/README.actor-movie
/out.actor-movie
/meta.actor-movie
/dataminingHW3.iml
/out
/.idea
# Created by .ignore support plugin (hsz.mobi)

/meta.actor-collaboration
/README.actor-collaboration
/out.actor-collaboration
/out.com-amazon
